.option-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.option-container p {
    border: 2px solid gray;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}

.question-text {

    border: 1px solid whitesmoke;
    border-radius: 8px;
    background-color: darkslategray;
    color: white;
    margin-top: 20px;
}

.option {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .option-container {
        grid-template-columns: 1fr;
    }
}